 body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: black;;
   /* color: #FFD700; */
 }

 header {
   /* background: #0077ff; */
   padding: 20px;
   color: white;
   text-align: center;
 }

 nav {
   background: #003f88;
   padding: 10px;
   text-align: center;
   display: flex;

 }

 nav a {
   color: black;
   font-weight: bolder;
   
   margin: 15px;
   text-decoration: none;
   font-size: 20px;
 }

 section {
   padding: 20px;
   max-width: 900px;
   margin: auto;
 }

 h2 {
   color: #003f88;
 }

 .card {
   background: white;
   padding: 15px;
   margin: 15px 0;
   border-radius: 8px;
   box-shadow: 0px 0px 10px #ccc;
 }

 input,
 button {
   padding: 10px;
   margin: 8px 0;
   width: 100%;
   font-size: 15px;
 }

 button {
   background: #0077ff;
   color: white;
   border: none;
   cursor: pointer;
 }

 button:hover {
   background: #005fcc;
 }
 .main{
  background-image:url("bg image.png");
  background-size: cover;
 }
 .logo{
  position: absolute;
  right: 85vw;
  bottom: 78vh;
  height: 25vh;
 }
nav{
  border-radius: 50px;
  background-color:   rgb(209, 11, 11);
 }
 .navi{
  display: flex;
  justify-content: space-around;
  align-items: center;

 }
 .seo{
  display: fle;
 }