
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');



body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: black;;
   /* color: #FFD700; */
   
  font-family: 'Poppins', sans-serif;
 }

 header {
   /* background: #0077ff; */
   padding: 20px;
   color: white;
   text-align: center;
 }

 nav {
   background: #003f88;
   padding: 10px;
   text-align: center;
   display: flex;

 }

 nav a:hover {
 color:#FFD700;
   /* text-shadow: 5px 5px 35px #FFD700;  */
}



 nav a {
   color:white;
   font-weight: bolder;
   
   margin: 15px;
   text-decoration: none;
   font-size: 20px;
 }



 section {
   padding: 20px;
   max-width: 900px;
   margin: auto;
 }

 h2 {
   color: white;
 }

 .card {
   background: white;
   padding: 15px;
   margin: 15px 0;
   border-radius: 8px;
   box-shadow: 0px 0px 35px white;
   
   
 }

 input,
 button {
   padding: 10px;
   margin: 8px 0;
   width: 70%;
   font-size: 15px;
   border-radius: 10px;
 }

 button {
   background: #0077ff;
   color: white;
   border: none;
   cursor: pointer;
 }

 button:hover {
   background: #005fcc;
 }
 .main{
  background-image:url("bg image.png");
  background-size: cover;
 }
 .logo{
  position: absolute;
  right: 85vw;
  bottom: 78vh;
  height: 25vh;
 }
nav{
  border-radius: 50px;
  background-color:black;

 }
 .navi{
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-radius: 8px;
   box-shadow: 0px 0px 10px #ccc;
 


 }
 .seo{
  display: fle;
 }
.card{
  background-color:black;
  color: white;
 }

 .bg{
  background-image: url(bg\ image.png );
    /* background-image: url(bg2.avif); */
  /* background-size:100vh; */
  background-repeat: no-repeat;
 }

 .separation{
  height: 7px;
  position: relative;
  z-index: 20;
  background-color: rgb(46, 44, 44);
}

.btn{
  margin-left: 2%;
  width: 10vw;
  
}
.input{
   
}
